<%- include("partial/header.ejs") %>

<body>

        <div>
                <form action="/todo" method="post">
                    <input type="text" name="text" placeholder="Write your todo here!">
                    <button type="submit">Add</button>
                </form>
           </div>

    <% todos.forEach( (todo)=> {%>
        <div> <%= todo.text %>
        <a class="fas fa-pen" href="/update/<%=todo._id%>"></a>
        <a class="fas fa-times-circle" href="/delete/<%=todo._id%>"></a>
        </div>
    <% }) %>

   <%- include("partial/footer.ejs") %>

</body>
</html>