<%- include("partial/header.ejs") %>

<body>

        <div>
                <form action="/todo" method="post" id="form">
                    <input type="text" name="text" id="input" placeholder="Write your todo here...">
                    <button type="submit" class="button btn btn-light">+</button>
                </form>
           </div>

    <% todos.forEach( (todo)=> {%>
        <div> <%= todo.text %></div>
        <a href="/update/<%=todo._id%>">Update</a>
        <a href="/delete/<%=todo._id%>">Delete</a>

    <% }) %>

   <%- include("partial/footer.ejs") %>

</body>
</html>